opacity.opacity-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0.2rem;
    width: 100%;
    grid-area: elementTools;
}

.opacity-tools > * {
    animation: show-opacity-tools .4s forwards;
}

@keyframes show-opacity-tools {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    50%{
        opacity: 1;
    }

    100%{
        transform: translateY(0);
    }
}

.opacity-wrapper {
    display: flex;
    align-items: center;
    padding: 4px 15px;
    background: #666b7c;
    opacity: 0.8;
    border-radius: 6px;
}

.opacity-text {
    margin: 0px;
    margin-right: 15px;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 600;
}

.opacity-picker {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 200px;
}

.range-picker {
    padding: 12px 15px;
    border: 1px solid rgb(30, 37, 57);
    border-radius: 6px;
    width: 100%;
}

.range-toddler-wrapper {
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

.range-toddler-content {
    display: flex;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    border-radius: 30px;
    background-color: #faa322;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.range-toddler {
    position: relative;
    appearance: none;
    width: 100%;
    height: 12px;
    background: transparent;
    outline: none;
    opacity: 0.95;
    transition: opacity 0.2s ease 0s;
    z-index: 1;
    margin: 0px;
    display: flex;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #ffa322;
    cursor: pointer;
  }