.button {
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 0.2rem;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  padding: 4px 6px;
}

.button:hover {
  background-color: rgba(190, 189, 189, 0.75);
}

.button:focus {
  background-color: #f6ea6a;
}

.button-pressed {
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 0.2rem;
  display: inline-block;
  cursor: pointer;
  background-color: #e4d429;
  padding: 4px 6px;
}

.button-focused {
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 0.2rem;
  display: inline-block;
  cursor: pointer;
  background-color: #f6ea6a;
  padding: 4px 6px;
}

/*background-color: #f6ea6a; #e4d429*/