.button, .button--independently {
    box-sizing: border-box;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 0.4em 0.8em;
    border-radius: 5px;
    outline: none;
    user-select: none;
    transition-duration: 0.2s;
    background-color: rgb(102, 107, 124);
    opacity: 0.8;
}

.button--default {
}

.button--disabled {
    opacity: 0.5;
    cursor: default;
}

.button svg {
    display: block;
}

.button--active {
    background-color: transparent;
}

.button--hover {
    opacity: 1;
}