.button, .button--independently {
    box-sizing: border-box;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 0.6em;
    border-radius: 5px;
    outline: none;
    user-select: none;
    transition-duration: 0.2s;
    background-color: rgb(102, 107, 124);
    opacity: 0.8;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 5px;
}

.button--default {

}

.button--disabled {
    opacity: 0.5;
    cursor: default;
}

.button svg {
    display: block;
}

.button--active {
    background-color: rgba(102, 107, 124, 0.2);
}

.button--hover {
    opacity: 1;
}

.button--round {
    border-radius: 50%;
}

.button--in-list {
    width: 100%;
    border-radius: unset;
    background-color: #a5a5a5;
    padding: 0.8em;
}

.icon--right {
    margin-left: auto;
}

.text {
    font-size: 1rem;
}