.viewer {
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 2005;
}

.viewer * {
    user-select: none;
}

.to-previous-slide-area-selector {
    position: absolute;
    background-color: transparent;
    z-index: 2006;
    height: 100%;
    width: 50%;
}

.to-next-slide-area-selector {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: transparent;
    z-index: 2006;
    height: 100%;
    width: 50%;
}

.prevent-pointer-events {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    user-select: none;
}

.empty-slide-in-show {
    background-color: black;
    width: 100%;
    height: 100%;
    color: #999;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}