.slide-list {
    grid-area: side;
    overflow: hidden;
    position: relative;
}

.slide-list ::-webkit-scrollbar {
    width: 0.5rem;
    position: absolute;
}

.slide-list ::-webkit-scrollbar-track {
    background: #6f1600;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0.25rem;
}

.slide-list ::-webkit-scrollbar-thumb {
    background: rgb(255 109 1);
    border-radius: 10px;
    border: 0.15rem solid #701700;
}