.editor {
    display: grid;
    grid-template-areas:
            "top top"
            "side content"
            "slideTools elementTools";
    grid-gap: 10px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 45px auto 30px;
    padding: 10px;
}

