.slides-list-tools {
    grid-area: slideTools;
    display: flex;
    background-color: rgba(190, 189, 189, 0.75);
    border-radius: 0.2rem;
    align-items: center;
    justify-content: space-between;
}

.slides-list-tools div[id='add-slide-button-tooltip'] span[id='tooltip-content'] {
    transform: translateX(-40%);
}

.slides-list-tools span[id='tooltip-content']:after {
    left: 47.5%;
}

.slides-list-tools div[id='add-slide-button-tooltip'] span[id='tooltip-content']:after {
    left: 33.5%;
}
