.top-bar {
    padding: 0 10px;
    background-color: rgba(190, 189, 189, 0.75);
    border-radius: 0.2rem;
    height: 1.85em;
    grid-area: top;
    display: flex;
}

.top-bar__button-list {
    min-width: 320px;
    justify-self: center;
    align-self: center;
    border-radius: 2px;
}

.top-bar__text {
    text-align: center;
}