.figure-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0.2rem;
    width: 100%;
    grid-area: elementTools;
}

.figure-tools > * {
    animation: show-figure-tools .4s forwards;
}

@keyframes show-figure-tools {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    
    50%{
        opacity: 1;
    }

    100%{
        transform: translateY(0);
    }
}

.color-picker {
    border: none;
    background-color: transparent;
    justify-content: center;
    align-self: center;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
}