.slide {
    box-sizing: border-box;
    overflow: visible;
}

.empty-slide-container {
    background: transparent;
    box-sizing: border-box;
    color: #999;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    border: medium dashed orange;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .empty-slide-container  {
        font-size: large;
    }
}

.select-area {
    fill: transparent;
    stroke: lightsalmon;
    stroke-width: 4px;
    stroke-dasharray: 20, 5;
    stroke-linejoin: round;
    cursor: move;
}

.resizer-nw {
    fill: lightgreen;
    cursor: nw-resize;
}

.resizer-ne {
    fill: lightgreen;
    cursor: ne-resize;
}

.resizer-se {
    fill: lightgreen;
    cursor: se-resize;
}

.resizer-sw {
    fill: lightgreen;
    cursor: sw-resize;
}
