.slide {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
    min-width: 640px;
    justify-self: center;
    align-self: center;
}

.slide-container {
    background: white;
    border-radius: 10px;
}