.slide {
    box-sizing: border-box;
    overflow: visible;
}

.empty-slide-container {
    background: transparent;
    box-sizing: border-box;
    color: #999;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    border: medium dashed orange;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .empty-slide-container  {
        font-size: large;
    }
}

.select-area {
    fill: transparent;
    stroke: lightsalmon;
    stroke-width: 2px;
    stroke-dasharray: 10, 2;
    stroke-linejoin: round;
}

.select-area-line {
    stroke: black;
}

.nw-resize,
.ne-resize,
.se-resize,
.sw-resize,
.n-resize,
.s-resize,
.w-resize,
.e-resize {
    fill: lightsalmon;
    stroke: orange;
}

.nw-resize {
    cursor: nw-resize;
}

.ne-resize {
    cursor: ne-resize;
}

.se-resize {
    cursor: se-resize;
}

.sw-resize {
    cursor: sw-resize;
}

.n-resize {
    cursor: n-resize;
}

.s-resize {
    cursor: s-resize;
}

.w-resize {
    cursor: w-resize;
}

.e-resize {
    cursor: e-resize;
}
