.color-input-container {
    position: relative;
    display: flex;
    overflow: hidden;
}

.color-input {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
}

.color-btn {
    border: 2px solid black;
    display: inline-block;
    /* border-radius: 50%; */
    width: 24px;
    height: 24px;
    background-color: #ffffff;
}