.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1005;
}

.dropdown-menu {
    position: absolute;
    top: 27px;
    padding: 4px 6px;
    background-color: white;
    border-width: 1px;
    border-color: rgba(173, 174, 136, 1);
    border-radius: 0 .25rem .25rem .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.dropdown-menu-rightside {
    position: absolute;
    left: 240px;
    top: 0;
    padding: 4px 6px;
    background-color: white;
    border-width: 1px;
    border-color: rgba(173, 174, 136, 1);
    border-radius: 0 .25rem .25rem .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.block-end-line {
    margin-top: 3px;
    margin-bottom: 3px;
    height: 0.1px;
    background-color: rgb(0, 0, 0);
}

.dropdown-item {
    list-style: none;
    border-radius: inherit;;
}

.dropdown-control-button {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.dropdown-list {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 5px;
    box-shadow: 4px -3px 11px -4px #908a98;
    overflow: hidden;

}