.text-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0.2rem;
    width: 100%;
    grid-area: elementTools;
}

.text-tools > * {
    animation: show-text-tools .4s forwards;
}

@keyframes show-text-tools {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    
    50%{
        opacity: 1;
    }

    100%{
        transform: translateY(0);
    }
}