.list-wrapper {
    background-color: rgba(190, 189, 189, 0.75);
    border-radius: 0.2rem;
    min-width: 128px;
    height: 100%;
    user-select: none;
}

.list {
    box-sizing: border-box;
    padding: 0 10px;
    overflow: auto;
    cursor: default;
    margin: 0;
    scroll-behavior: smooth;
}

.slide-list-item {
    width: 100%;
    position: relative;
    display: inline-grid;
    margin-bottom: -11px;
}

.list-item-wrapper-disabled,
.list-item-wrapper-active {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.before-list-element-hr {
    margin-bottom: 1px;
    width: 100%;
    height: 5px;
    background-color: #cecdcd;
    border-radius: 20px 20px 0 0;
}

.after-list-element-hr {
    margin-top: 3px;
    width: 100%;
    height: 5px;
    background-color: #cecdcd;
    border-radius: 0 0 20px 20px;
}

.disabled {
    border-top: 2px solid transparent;
}

.active {
    border-top: 2px solid #c91700;
}
