.App {
  text-align: center;
  font-size: 62.5%;
}

.editor {
  display: flex;
  flex-direction: column;
}

.slides-list, .slide, .slides-list-tools, .slide-info {
  background-color: rgba(190, 189, 189, 0.75);
  border-radius: 0.2rem;
}

.slides-list {
  min-width: 255px;
  min-height: 500px;
}

.slide {
  min-width: 1055px;
  min-height: 500px;
}

.slides-list-tools {
  min-width: 255px;
  margin-top: -10px;
}

.slide-info {
  margin-top: -10px;
  min-width: 1055px;
  min-height: 31px;
}

.center, .bottom {
  margin: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}