.tool-bar {
    margin-right: 10px;
    background-color: rgba(190, 189, 189, 0.75);
    border-radius: 0.2rem;
    height: 30px;
    grid-area: tool-bar;
    display: grid;
    align-self: center;
}

.tool-bar__button-list {
    justify-self: center;
    align-self: center;
    border-radius: 2px;
}

.tool-bar__text {
    text-align: center;
}