.container {
    position: relative;
    padding: 2px;
    -webkit-tap-highlight-color: transparent;
}

.tooltip-placeholder {
    background-color: transparent;
}

.tooltip-content {
    color: #fff;
    position: absolute;
    z-index: 10;
    padding: 5px;
    font-size: 12px;
    cursor: default;
    border-radius: 3px;
    white-space: nowrap;
    font-family: monospace;
    background-color: grey;
    box-shadow: 0 0 0.3rem rgb(0 0 0 / 16%);
}

.above {
    bottom: calc(100% + 5px);
    left: calc(50%);
    transform: translateX(-50%);
}

.above:after {
    top: 24px;
    left: 48%;
    border-left: solid transparent;
    border-right: solid transparent;
    border-top: solid grey;
    border-width: 6px;
}

.above:after,
.under:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}